In [14]:
#practice
import nltk
import pandas as pd

d1 = "My name is David and I drink coffee"
d2 = "Also I enjoy French cooking and theater"
d3 = "Mountaineering, kayaking, and bicycling interest me"

In [15]:
#TOKENIZE
token_d1 = nltk.word_tokenize(d1)
print(token_d1)

['My', 'name', 'is', 'David', 'and', 'I', 'drink', 'coffee']

In [28]:
comments = pd.read_csv('IA2.csv', delimiter=',',header=None)

In [29]:
comments.describe()

                0
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [30]:
comments.head()

   0                                                  1
0  1  This is the place to go after this branch to t...
1  2  The direct delivery from Star Theater in Chian...
2  3  It is very delicious food. Good taste Unspoilt...
3  4  This house is the second time. I used to be a ...
4  5  Featured is majestic. Located on the road 107 ...

In [ ]:
tokenized_comments = []

for reviews in comments[:][1]:
    print(nltk.word_tokenize(reviews))